div.block{
    width: 300px;
    height: 100px;
    position: fixed; /* Фиксированное положение */
    right: 0px; /* Расстояние от правого края окна браузера */
    bottom: 0px; /* Расстояние снизу */
    padding: 0px; /* Поля вокруг текста */
    margin: 5px; /* Поля вокруг текста */
}
div.greenblock{
    height: 100%;
    width: 30%;
    background: green;
    float: right;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}
div.greenblock:hover{
    height: 100%;
    width: 100%;
    background: green;
    float: right;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}
#div1 {
    text-align: center;
    display: none;
}
.display-block {
    display: block !important;
}

div.display{
    text-align: center;
}
.array{
    text-align: center;
}